.Horarios{
    padding: 0px;
    height: 400px;
    padding-bottom: 40px;
    margin-top: -40px;
}
.Horarios>h3{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Allenoire';
    margin-bottom: -30px;
    color: #141414;
    background-color: rgb(230, 225, 225);
    filter: invert(1);
    width: 400px;
    border-radius: 22px;
    position: absolute;
    left: 400px;
    margin-top: -40px;
}
.SeparadorTabla{
    padding: 20px;
    background-color: rgb(196, 188, 188);
    height: 400px;

}
.TablaHorarios {
    width: 1000px;
    justify-self: center;
    border-radius: 22px;
    margin-bottom: 200px;
    background-color: white;
}
.TablaHorarios>th{
    color: #141414 !important;
    background-color: rgb(230, 225, 225) !important;
    filter: invert(1) !important;
}
.Horas{
    font-family: 'Allenoire';
    font-weight: lighter;
}
#TLC{
    border-top-left-radius: 22px;
}
#TRC{
    border-top-right-radius: 22px;
}
#BLC{
    border-bottom-left-radius: 22px;
}
#BRC{
    border-bottom-right-radius: 22px;
}