.CtnAllCls{
    background-color: rgb(228, 222, 222);
    font-family: 'Sinerva';
    
}
.ContenedorClases{
    width: 750px;
    justify-self: center;
    padding-bottom: 50px;
    box-shadow: 2px 0px 32px rgb(31, 30, 30);
}
.ContenedorClases>h3{
    font-size: 40px;
    padding: 30px;
}
.Formas{
    display: flex;
    gap: 30px;
    justify-content: center;
}

#mixIcon,#groupIcon,#phoneIcon,#houseIcon{
    height: 100px;
    width: 100px;   
}
.tarjetaClase>p{
    font-family:'TypoGraphica';
    font-size: 20px;
    padding-bottom: 15px;
}
.tarjetaClase{
    background-color: rgb(245, 239, 239);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px;
    transition: 0.2s ease-in-out;
}
.tarjetaClase:hover{
    transform: translateY(-5px);
}
.Text2{
    justify-self: center;
    width: 470px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    gap: 30px;
    background-color: rgb(245, 239, 239);
    border-radius: 10px;
    box-shadow: 0px 2px 10px;
    transition: 0.2s ease-in-out;
}
.Text2:hover{
    transform: translateY(-5px);
}


