.contenidoProfile{
    background: white;
    box-shadow: 1px 0px 5px gray;
    width: 700px;
    justify-self: center;
}
.contenidoProfile>h2{
    color: white;
    background-color: rgb(22, 17, 17);
    padding: 10px;
    text-align: center;
    font-family: 'allenoire';
    font-size: 35px;
}
.userData{
    margin-top: -70px;
    padding: 50px;
}
.userData h3{
    font-size: 30px;
}
.Rol{
    color: rgb(228, 32, 32);
}
.noce{
    display: flex;
    justify-self: center;
    gap: 20px;
}
.noce>button{
    font-family: 'allenoire';
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: rgb(39, 32, 32);
    color: white;
}
#modifyBTN{
    background-color: #3a18b4;
}
.noce>button:hover{
    background-color: #080808;
}
#modifyBTN:hover{
    background-color: #29116d;
}
.BTNSave{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreUsuario{
    justify-self: center;
    font-family: 'Allenoire';
    margin-bottom: -30px;
}