.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    margin: auto;
  }
  
  .carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  .carousel-button.left {
    left: -50px;
  }
  
  .carousel-button.right {
    right: -50px;
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: white;
    border: solid gray 1px ;
    height: 9px;
    width: px;
  }
  .VideoInstagramWithIndicator{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }