.Contenido-Avisos{
    position: absolute;
    margin: 0px;
    top: -5px;
    right: 150px;
}
.num-avisos{
    color: black;
    font-size: 15px;
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 25px;
    border: none;
    position: absolute;

}

.casilla-avisos{
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 6000;
}
.casilla-avisos>h4{
    font-size: 30px;
    font-family: 'Allenoire';
    margin: 0px;
    padding: 5px;
    border-bottom: solid 1px gray;
}
.casilla-avisos > ul {
    list-style: none;
    margin: 0px;
}
.Mensajes{
    padding: 20px;
    margin: 0px;
    border-bottom: solid 1px rgb(224, 222, 222);
    border-top: solid 1px  rgb(224, 222, 222);
    border-width: 80%;
    color: rgb(56, 56, 56);
    font-family: '';
}
.Megafono{
    font-size: 30px;
    position: absolute;
    right: -10px;
    border: none;
    z-index: 1400px;
    top: 10px;
}