.ContainerLevels {
    background-color: #f1efee;
    width: 100%;
    box-shadow: 0px 22px 20px 1px rgba(102, 102, 81, 0.205);
    height: 87vh;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    width: 100%;
    text-align: center;
}

.text>h2 {
    width: 50vw;
    height: 20vh;
    font-size: 4vw;
    margin-top: 76vh;
    border-radius: 35.5px;
    display: flex;
    justify-content: center; /* Centra el texto dentro del h2 */
    align-items: center; /* Centra verticalmente */
    position: absolute;
    color: white;
    background-color: rgb(27,24,24 );
    z-index: 10;
}

.text>h4 {
    height: 10px;
    width: 125px;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Allenoire';
    color: #141414;
    background-color: rgb(230, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 2px;
    top: 350px;
    left: 44.5%;
    filter: invert(1);
    z-index: 1800;
}

.bar {
    position: absolute;
    z-index: 1750;
    height: 5px;
    top: 352px;
    left: 30%;
    width: 500px;
    background: white;
}
.Bloques{
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 10vw;
    margin-top: -6vh;
    z-index: 5;
    font-family: 'Allenoire';
}
.BloqueLvL2,.BloqueLvL3,.BloqueLvL4{
    display: flex;
    margin-top: -20px;
    margin-bottom: -20px;
    
}
#ImagenPor, #ImagenEn {
    width: 100vw; /* Se ajusta al ancho de la pantalla */
    max-width: 50vw; /* Tamaño máximo para que no se vea gigante */
    height: auto; /* Mantiene la proporción */
    display: block; /* Asegura que se comporten bien en mobile */
    margin: 0 auto; /* Centra las imágenes */
    margin-top: -100vh;
    object-fit: contain;     
    mask-image: linear-gradient(black 91%, transparent);
    z-index: 10;
}
.ContImgs{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.BloqueLvL>h4, .BloqueLvL2>h4, .BloqueLvL3>h4, .BloqueLvL4>h4 {
    color: black;
}

.BloqueLvL>#por, .BloqueLvL3>#por {
    color: yellow;
}

.BloqueLvL>#eng, .BloqueLvL3>#eng {
    color: red;
}
.BloqueLvL2 {
    opacity: 30%;
}

.BloqueLvL3 {
    opacity: 55%;
}

.BloqueLvL4 {
    opacity: 80%;
}

#por {
    color: rgb(53, 110, 27);
}

#eng {
    color: rgb(48, 48, 184);
}
@media (max-width:600px) {
    .ContainerLevels{
        margin-bottom: -300px;
        width: 100vw;
        height: 500px;
    }
    .Bloques{
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 9.85vw;
        margin-top: -16vh;
        z-index: 5;

    }
    .BloqueLvL2,.BloqueLvL3,.BloqueLvL4{
        display: flex;
        margin-top: -20px;
        margin-bottom: -20px;
        
    }
    #ImagenPor, #ImagenEn {
            width: 50vw; /* Se ajusta al ancho de la pantalla */
            max-width: 300px; /* Tamaño máximo para que no se vea gigante */
            height: auto; /* Mantiene la proporción */
            display: block; /* Asegura que se comporten bien en mobile */
            margin: 0 auto; /* Centra las imágenes */
            margin-top: -34vh;
            object-fit: contain;     
    }
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
        width: 100%;
        text-align: center;
    }
    
    .text>h2 {
        width: 350px;
        height: 9vh;
        font-size: 6vw;
        margin-top: 18vh;
        border-radius: 35.5px;
        display: flex;
        justify-content: center; /* Centra el texto dentro del h2 */
        align-items: center; /* Centra verticalmente */
        position: relative;
        color: white;
        background-color: rgb(27,24,24 );
        z-index: 10;
    }
    
    .text>h4{
        display: none;
        
    }
    .text>.bar{
       display: none;
    }
}