.ContainerLevels{
    background-color: #f1efee;
    width: 100%;
    box-shadow: 0px 2px 20px beige;
    height: 646px;
    
}
.text>h2{
    padding: 40px;
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Allenoire';
    color: #141414;
    background-color: rgb(230, 225, 225);
    width: 600px;
    justify-self: center;
    position: absolute;
    top: 520px;
    left: 23%;
    border-radius: 50px;
    filter: invert(1);
    z-index: 1700;
}
.text>h4{
    z-index: 1800;
    color: #141414;
    filter: invert(1);
    padding: 10px;
    position: absolute;
    left: 44%;
    top: 610px;
    font-weight: lighter;
    font-family: 'Allenoire';
    background-color: rgb(230, 225, 225);
}
.bar{
    position: absolute;
    z-index: 1750;
    height: 5px;
    top: 625px;
    left: 30%;
    width: 500px;
    background: white;
}
#ImagenEn{
    position: absolute;
    height: 500px;
    right: 0px;
    z-index: 1400;
    top: 100px;
    mask-image: linear-gradient(black 91%,transparent);
}
#ImagenPor{
    position: absolute;
    height: 500px;
    left: 0px;
    z-index: 1400;
    top: 100px;
    mask-image: linear-gradient(black 91%,transparent);
}
.BloqueLvL{
    display: flex;
    position: absolute;
    opacity: 10%;
    top: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Soria';
    font-weight: lighter;
    gap: 15px;
    font-size: 147px;
    z-index: 1100;
}
.BloqueLvL2{
    display: flex;
    position: absolute;
    opacity: 30%;
    top: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Soria';
    font-weight: lighter;
    gap: 15px;
    font-size: 147px;
}
.BloqueLvL3{
    display: flex;
    position: absolute;
    opacity: 55%;
    top: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Soria';
    font-weight: lighter;
    gap: 15px;
    font-size: 147px;
}
.BloqueLvL>h4,.BloqueLvL2>h4,.BloqueLvL3>h4,.BloqueLvL4>h4{
    color: black;
}
.BloqueLvL>#por,.BloqueLvL3>#por{
    color: yellow;
}
.BloqueLvL>#eng,.BloqueLvL3>#eng{
    color: red;
}
.BloqueLvL4{
    display: flex;
    position: absolute;
    opacity: 80%;
    top: 400px;
    align-items: center;
    font-family: 'Soria';
    gap: 15px;
    font-size: 147px;
}
#por{
    color: rgb(53, 110, 27);
}
#eng{
    color: rgb(48, 48, 184);
}