.ContainerLevels {
    background-color: #f1efee;
    width: 100%;
    box-shadow: 0px 2px 20px beige;
    height: 646px;
}

.text>h2 {
    height: 150px;
    width: 700px;
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Allenoire';
    color: #141414;
    background-color: rgb(230, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 520px;
    left: 23%;
    border-radius: 50px;
    filter: invert(1);
    z-index: 1700;
}

.text>h4 {
    height: 10px;
    width: 125px;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Allenoire';
    color: #141414;
    background-color: rgb(230, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 622px;
    left: 44.5%;
    filter: invert(1);
    z-index: 1800;
}

.bar {
    position: absolute;
    z-index: 1750;
    height: 5px;
    top: 625px;
    left: 30%;
    width: 500px;
    background: white;
}

#ImagenEn {
    height: 400px;
    z-index: 1400;
    mask-image: linear-gradient(black 91%, transparent);
}

#ImagenPor {
    height: 400px;
    z-index: 1400;
    mask-image: linear-gradient(black 91%, transparent);
}
.ContImgs{
    display: flex;
    justify-content: space-between;
}
.BloqueLvL, .BloqueLvL2, .BloqueLvL3, .BloqueLvL4 {
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Soria';
    font-weight: lighter;
    gap: 15px;
    font-size: 147px;
}

.BloqueLvL2 {
    opacity: 30%;
    top: 40px;
}

.BloqueLvL3 {
    opacity: 55%;
    top: 165px;
}

.BloqueLvL4 {
    opacity: 80%;
    top: 300px;
}

.BloqueLvL>h4, .BloqueLvL2>h4, .BloqueLvL3>h4, .BloqueLvL4>h4 {
    color: black;
}

.BloqueLvL>#por, .BloqueLvL3>#por {
    color: yellow;
}

.BloqueLvL>#eng, .BloqueLvL3>#eng {
    color: red;
}

#por {
    color: rgb(53, 110, 27);
}

#eng {
    color: rgb(48, 48, 184);
}
@media (max-width:600px) {
    .ContainerLevels{
        margin-bottom: -300px;
    }
    .Bloques{
        width: 100%;
    }
    .BloqueLvL, .BloqueLvL2, .BloqueLvL3, .BloqueLvL4{
        margin-top: 90px;
        font-size: 54px;
    }
    .BloqueLvL2>#por,.BloqueLvL2>h4,.BloqueLvL2>#eng{
        margin-bottom: -200px;
    }
    .BloqueLvL3>#por,.BloqueLvL3>h4,.BloqueLvL3>#eng{
        margin-top: 2px;
    }
    .BloqueLvL4>#por,.BloqueLvL4>h4,.BloqueLvL4>#eng{
        margin-top: -100px;
    }
    #ImagenPor,#ImagenEn{
        margin-top: 90px;
        width: 240px;
        height: 180px;
        padding-top: 110px;
    }
    .text>h2{
        width: 300px;
        height: 100px;
        font-size: 30px;
        margin-top: -100px;
        left: 90px;
    }
    .text>h4{
        left: 180px;
        margin-top: -130px;
    }
    .text>.bar{
        margin-top: -129px;
        width: 200px;
        height: 2px;
    }
    #ContImgs{

    }
}