.header {
    height: 120px; /* Ajusta a la altura deseada */
    display: flex   !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: -90px;
    z-index: 5000;
    width: device-width;

}
.Title {
    font-family: 'Allenoire';
    font-weight: lighter;
    color: #fff;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    z-index: 2000;
    margin: 0px;
    margin-top: -80px;
}
.Word {
    display: flex;
    gap: 5px;
    font-size: 40px;
}
#inscription{
    margin: 0px;
    margin-right: 20px;
}
#Blue {
    background-color: rgb(31, 31, 112);
    padding: 1px;
    height: 35px;
}

#Red {
    background-color: rgb(199, 25, 25);
    padding: 1px;
    height: 35px;
}

#LogoInsti {
    height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px; /* Reduce el espacio entre los enlaces */
    margin-top: 0px;
    
}

.login-button {
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: rgb(199, 25, 25);
    border-radius: 19px;
    color: rgb(245, 241, 241);
    border: none;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-family: 'Allenoire';
    margin-right: 40px;
    margin-top: 0px;
    cursor: pointer;
}
#home-section,#about-section,#schedule-section,#blog-section,#videos-section{
    display: none;
}
.login-button:hover {
    background-color: rgb(31, 31, 112);
    color: rgb(241, 241, 241);
}
.BTNAvisos{
    width: 50px;
}
.linkStyle{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.log-perf > button {
    background: none;
    border: none;
}
.ins-btn{
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.BTNSidebar {
    justify-content: center;
    align-items: center;
    margin-right: -30px;
    height: 40px;
    border: 5px;
    margin-top: -290px;
}

.log-perf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    position: relative;
    padding: 1rem;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Paradose';
    font-weight: lighter;
    color: rgb(20, 20, 20);
    text-decoration: none;
    cursor: pointer;
}

#user {
    text-decoration: none;
    max-width: 200px;
    margin-top: -62px;
}

.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: rgb(255, 0, 0);
    cursor: pointer;
}

.btn-left::after {
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn-left:hover::after {
    transform: scale(1, 1);
    cursor: pointer;
}

@keyframes enter {
    from {
        display: none;
        opacity: 0;
        top: -50px;
    }
    to {
        display: block;
        opacity: 1;
        top: 90px;
        position: fixed;
    }
}

@keyframes leave {
    from {
        display: block;
        opacity: 1;
        top: 90px;
        position: fixed;
    }
    to {
        display: none;
        opacity: 0;
        top: -50px;
    }
}
@media (max-width:600px) {
    .header{
        width: 100vh;
    }
    .nav-links{
        display: grid;
        grid-template-columns: auto;
        gap: 0px;
        margin: 0px;
        position: absolute;
        top: 90px;
        left: 200px;
    }
    .btn{
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .Title{
        margin-top: -85px;
        left: 30px;
        position: absolute;
    }
    .login-button{
        position: absolute;
        left: 130px;
        top: -65px;
    }
    @keyframes enter {
        from {
            display: none;
            opacity: 0;
            top: -50px;
            left: 140px;
        }
        to {
            display: block;
            opacity: 1;
            top: 90px;
            position: fixed;
            left: 140px;
        }
    }
    
    @keyframes leave {
        from {
            display: block;
            opacity: 1;
            top: 90px;
            left: 140px;
            position: fixed;
        }
        to {
            display: none;
            opacity: 0;
            top: -50px;
            left:140px;
        }
    }
    #formulario{
        left: 140px;
    }

}