.user-creation{
    justify-self: center;
    background-color: white;
    width: 700px;
}
.user-creation h2{
    justify-self: center;
    background-color: rgb(27, 24, 24);
    color: white;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Allenoire';
    font-weight: lighter;
}
.Select-crear{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px;
    margin-top: -20px;
}
.Select-crear>select{
    width: 300px;
    height: 40px;
}