.login-container > .login-form  {
    display: none; 
    position:fixed;
    top: 90px;
    left: 81.1%;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 10px; 
    padding: 30px; 
    z-index: 20; 
    width: 150px;
    backdrop-filter: blur(2px);
    border: solid 1px white;
    
    
   
}
.login-container {
    display: flex; /* Cambia el contenedor de login a flex */
    align-items: center; /* Centra los elementos */
    
}

/* Otros estilos */
.error-message {
    color: #B40A00;
}

form {
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    display: block;
    height: 20px;
    opacity: 100%;
    background-color: rgb(223, 233, 223);
    width: 150px;
    margin-bottom: 20px;
}
input[type="password"]{
    display: block;
    height: 20px;
    opacity: 100%;
    background-color: rgb(223, 233, 223);
    width: 150px;
    margin-bottom: 20px;    
}


button[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 154px;
    transition: 0.2s ease-in-out;
    font-family: 'Paradose';
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #eaebf1; 
    color: #000000;
    
}
#formularioLogin{
    justify-content: center;
    align-items: center;
 
}
.msgError{
    color:#B40A00;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Ristorante';
}
