.container-redes{
    height: 30px;
    z-index: 5100;
    position: fixed;
    top: 80%;
    right: 1%;

}
.container-redes>ul{
    list-style: none;
}
#instalogo{
    height: 30px;
    padding: 5px;
    background-color: rgb(216, 64, 115);
    border-top-left-radius:15px ;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    
}
#facelogo{
    height: 30px;
    padding: 5px;
    background-color: rgb(56, 44, 107);
    border-top-left-radius:15px ;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}