/* src/components/Sidebar.css */

/* Estilos básicos */
.sidebar {
    position: fixed;
    top: 83px;
    left: 100%; /* Inicialmente fuera de la pantalla */
    width: 150px;
    height: 300px;
    background-color: #B40A00;;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    font-family: 'Roughnecks';
  }
  
  .sidebar.open {
    left: 88%; /* La sidebar se desliza al abrir */
    width: 120px;
    
  }
  
  .toggle-button, .close-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .toggle-button {
    background: none;
    margin-right: 35px;
  }
  .toggle-button > img {
    height: 30px;
    width: 25px;
    display: flex;
    padding: 0 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
  }
  
  /* Lista de navegación */
  .sidebar ul {
    list-style: none;
    
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
    border-bottom: 1px solid;
    width: 120px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    color: #ddd;
  }
  