/* Estilos básicos */
.sidebar {
    position: fixed;
    top: 110px;
    left: 100%; /* Inicialmente fuera de la pantalla */
    width: 150px;
    height: 280px;
    background-color: #f1efee;
    color: rgb(44, 40, 40);
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    font-family: 'Paradose';
    font-weight: lighter;
    z-index: 2100;
  }
  .sidebar.rol-3{
    height: 230px;
  }
  
  .Divparasepararyquedebonito{
    margin-top: -30px;
  }
  .sidebar.open {
    left: 87.5%; /* La sidebar se desliza al abrir */
    width: 120px;
  }
  .sidebar.closed>.Divparasepararyquedebonito{
    margin-top: -30px;
  }
  .sidebar.closed>h2{
    margin-top: 0px;
    padding: 0px;
  }
  .sidebar.open>h2{
    margin: 0;
  }
  #Blue2{
    padding-top: 10px;
    height: 30px;
    background-color: rgb(31, 31, 112);
  }
  #Red2{
    padding-top: 10px;
    height: 30px;
    background-color: rgb(199, 25, 25);
  }
  #Blue2:hover{
    background-color: rgb(22, 22, 92);
  }
  #Red2:hover{
    background-color: rgb(151, 20, 20);
  }
 
  .toggle-button, .close-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .toggle-button {
    background: none;
    margin-right: 35px;
  }
  .toggle-button > img {
    height: 30px;
    width: 25px;
    display: flex;
    padding: 0 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
  }
  .OpcionSidebar{
    color: rgb(227, 241, 231);
    font-family: 'Allenoire';
    font-weight: lighter;
    font-size: 18px;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 3px;
    
  }
  .LogOutBTN{
    background-color: rgb(44, 40, 40);
    border: none;
    padding: 10px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-family: 'Allenoire';
    font-size: 15px;
    height: 60px !important;
    width: 120px !important;
    color: white;
    margin-top: 0px;
  }
  .LogOutBTN:hover{
    color: white;
    background-color: black;

  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    color: #ddd;
  }
  