.todo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TextoHome{
    color: white;
    font-size: 50px;
    background-color: rgb(31,31,112);
    padding: 80px;
}
.TextoHome>h2{
    font-family: 'Allenoire';
}
.TextoHome>h3{
    font-family:'Paradose';
    font-weight: lighter;

}
.contenedor{
    display: flex;
    width: 950px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}