@font-face {
  font-family: 'Coolvetica';
  src: url('../src/fonts/coolvetica\ rg.otf') format('opentype');
}
@font-face {
  font-family: 'CoolveticaCmprs';
  src: url('../src/fonts/coolvetica\ compressed\ hv.otf') format('opentype');
}
@font-face {
  font-family: 'Philosopher';
  src: url('../src/fonts/Philosopher-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Brolia';
  src: url('../src/fonts/Brolia.otf') format('opentype');
}
@font-face {
  font-family: 'Montvolca';
  src: url('../src/fonts/Montvolca.ttf') format('truetype');
}
@font-face {
  font-family: 'Ristorante';
  src: url('../src/fonts/RistoranteSerif_PERSONAL_USE_ONLY.otf') format('opentype');
}
@font-face {
  font-family: 'Roughnecks';
  src: url('../src/fonts/ROUGHNECKS.ttf') format('truetype');
}
@font-face {
  font-family: 'Dunkin';
  src: url('../src/fonts/Dunkin.otf') format('opentype');
}
@font-face {
  font-family: 'Guaraldo';
  src: url('../src/fonts/GUARALDO\ PERSONAL\ USE.ttf') format('truetype');
}
@font-face {
  font-family: 'Sinerva';
  src: url('../src/fonts/Sinerva.otf') format('opentype');
}
@font-face {
  font-family: 'Michael';
  src: url('../src/fonts/michael.otf') format('opentype');
}
@font-face {
  font-family: 'TypoGraphica';
  src: url('../src/fonts/TypoGraphica_demo.otf') format('opentype');
}
@font-face {
  font-family: 'Soria';
  src: url('../src/fonts/soria-font.ttf') format('truetype');
}
@font-face {
  font-family: 'Heathergreen';
  src: url('../src/fonts/Heathergreen.otf') format('opentype');
}
@font-face {
  font-family: 'Allenoire';
  src: url('../src/fonts/Allenoire\ Font.otf') format('opentype');
}
@font-face {
  font-family: 'Paradose';
  src: url('../src/fonts/Ws\ Paradose\ Demo.ttf') format('truetype');
}
*{
  margin: 0px;
  padding: 0%;
  margin-top: 0px;
  padding-top: 0px;
}
body{
    background-attachment: fixed;
    background-color: #f1efee;
    
}
.slide-in{
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:whitesmoke;
  transform-origin: bottom;
  z-index: 5000;
}

.slide-out{
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:whitesmoke;
  transform-origin: top;
  z-index: 5000;
}
